
.catalog_in_header {
    background: #F8F3F4;
}
.catalog_top {
    display: flex;
    justify-content: space-between;
}

.catalog_header_link {
    display: block;
    text-decoration: none;
}
.catalog_h3 {
font-size: 24px;
line-height: 29px;
color: #F16D7F;
margin-top: 59px;
margin-bottom: 60px;
}
.catalog_navig {
    width: 209px;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    
    .catalog_navig_lnk {
        text-decoration: none;

        .catalog_nav_txt {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }
    }
    .catalog_navig_lnk:hover .catalog_nav_txt{
        color: #F16D7F;
    }
}
.catalog_content {
    display: flex;
    position: relative;

    .catalog_choice {
        width: 62%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: 51px;
        margin-bottom: 64px;

        .catalog_search {
            width: 48%;
            display: flex;
            box-sizing: border-box;

            .search_txt {
                display: inline-block;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                margin-right: 11px;
            }

            .catalog_filtr {
                width: 15px;
                height: 100%;
                vertical-align: baseline;
                margin-left: 11px;
            }

            .catalog_menu_h3 {
                font-size: 14px;
                line-height: 17px;
                color: #EF5B70;
                padding-bottom: 11px;
                margin-top: 24px;
                border-left: 5px solid #EF5B70;
                border-bottom: 1px solid #EBEBEB;
                padding-top: 10px;
                padding-left: 11px;
                margin-right: 30px;
            }
            
            .menu_lnk {
                margin-top: 11px;
            }

            .search_top[open] .search_txt {
                color: #F16D7F;
                margin-top: 13px;
                margin-left: -16px;
            }
            // .search_top[open] .catalog_filtr {
            //     content: url(img/filtr-2.svg);
            // }
            
            .search_top[open] {
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                width: 100%;
                flex-direction: column;
                padding-left: 22px;
                z-index: 1;
                background: #FFFFFF;
                padding-bottom: 16px;
            }
        }
    }
}
.catalog-card {
    margin-top: 150px;
}
.pade {
    
    justify-content: center;
    margin: 0 auto;
    margin-top: 48px;
    .pade_ul {
        display: flex;
        border-radius: 10px;
    }
}
.page-link {
    color: #6F6E6E;
}
.page-link:hover {
    color: #F16D7F;
}
.catalog {
    margin-top: 0;
}
.catalog_drop_list {
    align-items: baseline;
}
.search_top_dop {
    display: none;
}
.search_top_dop[open] .search_txt {
    color: #F16D7F;
    margin-top: 13px;
    margin-left: -16px;
}
// .search_top_dop[open] .catalog_filtr {
//     content: url(img/filtr-2.svg);
// }

.search_top_dop[open] {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 100%;
    flex-direction: column;
    padding-left: 22px;
    z-index: 1;
    background: #FFFFFF;
    padding-bottom: 16px;
}