@media all and (max-width: 1024px) {
  .shoping_content .form_box .shoping_input {
    width: 300px;
    padding: 13px 23px 16px 17px;
  }
  .shoping_content .form_box .shoping_total {
    width: 300px;
  }
  .shoping_content .card_box .shoping_li {
    width: 500px;
  }
  .shoping_content .card_box .shoping_li .shoping {
    width: 500px;
  }
  .shoping_content .shoping_card_button_wrap .shoping_card_button {
    margin-right: 30px;
    padding: 14.5px 30.5px;
  }
}

@media all and (max-width: 910px) {
  .shoping_content .card_box .shoping_card_button_wrap .shoping_card_button {
    margin-right: 0;
    padding: 14.5px 30.5px;
  }
}

@media all and (max-width: 850px) {
  .shoping_content .form_box .shoping_input {
    width: 270px;
  }
  .shoping_content .form_box .shoping_total {
    width: 270px;
  }
  .shoping_content .form_box .total_line {
    width: 210px;
  }
  .shoping_content .form_box .shoping_total_button {
    width: 210px;
  }
  .shoping_content .form_box .shoping_total_button .shoping_total_lnk .shoping_total_lnk_txt {
    margin: 13px 7px 13px 7px;
  }
  .shoping_content .card_box .shoping_li {
    width: 480px;
  }
  .shoping_content .card_box .shoping_li .shoping {
    width: 480px;
  }
}

@media all and (max-width: 810px) {
  .shoping_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shoping_content .form_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px;
  }
  .shoping_content .form_box .shoping_total_button {
    width: 70%;
  }
  .shoping_content .form_box .shoping_total_button .shoping_total_lnk .shoping_total_lnk_txt {
    white-space: nowrap;
    font-size: 14px;
  }
  .shoping_content .form_box .shoping_form {
    width: 48%;
  }
  .shoping_content .form_box .shoping_input {
    width: 100%;
  }
  .shoping_content .form_box .shoping_total {
    width: 48%;
    margin-top: 38px;
    margin-bottom: 84px;
  }
  .shoping_content .form_box .shoping_total .shoping_total_txt {
    padding: 39px 10px 0px;
  }
  .shoping_content .form_box .total_line {
    width: 90%;
  }
  .shoping_content .card_box .shoping_card_button_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .shoping_content .card_box .shoping_li {
    width: 100%;
  }
  .shoping_content .card_box .shoping_li .shoping {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .catalog_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog_h3 {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .catalog_navig {
    margin-top: 0;
    margin-bottom: 46px;
  }
  .header_info .header_left .header_left_ul .logo {
    margin: 18px 41px 19px 16px;
  }
  .header_info .header_right {
    margin-right: 25px;
  }
  .header_info .header_right .header_right_ul {
    display: none;
  }
  .header_info .header_right .backet_logo {
    display: none;
  }
  .product_wrap {
    margin-top: 0;
  }
  .product_wrap .product_content_top .product_txt {
    width: 570px;
  }
  .card-box .card_li {
    max-width: 48%;
  }
  .unseen {
    display: none;
  }
  .footer_bottom .bottom_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_bottom .bottom_box .footer_mention {
    width: 327px;
    padding-bottom: 48px;
  }
  .footer_bottom .bottom_box .subscribe {
    margin-top: 0;
    margin-bottom: 219px;
  }
  .footer_bottom .footer_copy .wrap_copy .footer_copy_text {
    font-size: 13px;
  }
}

@media all and (max-width: 605px) {
  .product_wrap {
    margin-top: 0;
  }
  .product_wrap .product_content_top .product_txt {
    width: 350px;
  }
}

@media all and (max-width: 525px) {
  .shoping_content .card_box .shoping_card_button_wrap .shoping_card_button {
    width: 48%;
    padding: 14.5px 0.5px;
    text-align: center;
  }
}

@media all and (max-width: 500px) {
  .footer_bottom .footer_copy {
    padding-top: 43px;
    padding-bottom: 24px;
  }
  .footer_bottom .footer_copy .wrap_copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_bottom .footer_copy .wrap_copy .footer_copy_text {
    margin-top: 33px;
  }
}

@media all and (max-width: 376px) {
  .product_drop_wh {
    width: 304px;
  }
  .product_wrap .product_content_top .product_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 326px;
    line-height: 143.1%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product_wrap .product_content_top .product_h5 {
    width: 255px;
  }
  .product_wrap .product_content_top {
    max-width: 174px;
    border-bottom: 1px solid #EAEAEA;
  }
  .drop_list .dropdown .dropdown-toggl {
    font-size: 10px;
    line-height: 12px;
  }
  .card-box .card_li {
    max-width: 100%;
    margin-bottom: 0;
  }
  .card-box .unseen-2 {
    display: none;
  }
  .card-box .unseen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product {
    margin-bottom: 64px;
  }
  .footer_bottom .bottom_box .subscribe {
    width: 271px;
  }
  .footer_bottom .bottom_box .subscribe .subscribe_text {
    font-size: 20px;
    line-height: 153.2%;
  }
  .footer_bottom .bottom_box .subscribe .subscribe_text .subscribe_span {
    font-size: 14px;
  }
}
/*# sourceMappingURL=media.css.map */